/* src/renderer/src/components/layout/AppLayout.module.css */

.shell {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  background: #ffffff;
}

.main {
  height: 100%;
  display: grid;
  grid-template-rows: 56px 1fr;
}

.content {
  padding: 16px;
  overflow: auto;
  background: #ffffff;
}
